<h1>Sääpalvelu</h1>

<div id="infoArea">
    <p id="infoTitle">Sivuston käyttöohjeet: </p>

    <ul>
        <li> <strong>Paikkakunnat</strong> välilehdellä voit lisätä uusia paikkakuntia tai poistaa olemassa olevia. Välilehdellä on myös listattuna kaikki lisätyt paikkakunnat.</li>
        <li><strong>Säätiedot</strong> välilehdellä voit lisätä uusia havaintoja sekä muokata olemassa olevia havaintoja. Kaikki kirjatut havainnot on listattuna sivulla.</li>
        <li><strong>Säätietojen visualisointi</strong> välilehdellä on pylväsdiagrammeja kirjatuista säähavainnoista. Havaintoja voi suodattaa sekä paikkakuntien että päivämäärän perusteella.</li>
    </ul>

    <p id="databaseInfo">
        Ohjelman kanssa voi käyttää joko inmemory- tai MySQL-tietokantaa. Ohjelman toimivuus on testattu molempien kanssa. Mikäli halutaan käyttää
        MySQL-tietokantaa, tulee startup.cs-tiedostosta kommentoida inmemorya koskevat rivit ja ottaa kommentit pois MySQL-tietokantaa koskevilta riveiltä.
    </p>
</div>