h1 {
    margin-left: 9.5em;
}

#infoArea {
  background-color: snow;
  padding: 0.5em;
  border-radius: 18px;
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

#infoTitle {
    margin-left: 1.5em;
}

#databaseInfo {
    margin-left: 1.3em;
}